{
  "GetHotPromos": {
    "ENVIRONMENT": "dev",
    "ENDPOINT": "http://dynamodb:8000",
    "TELEGRAM_URL": "https:api.telegram.org/<API_KEY>:<API_SECRET>/sendMessage",
    "AWS_LOCAL_PROFILE": "default",
    "TELEGRAM_CHAT_ID": "-123456789012"
  },
  "DeleteHotPromos": {
    "ENVIRONMENT": "dev",
    "THRESHOLD_DAYS": 0,
    "ENDPOINT": "http://dynamodb:8000"
  }
}
